<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rates</key>
	<array>
		<dict>
			<key>title</key>
			<string>马力</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>吨/时(t/h)</string>
					<key>weight</key>
					<real>71.09999999999999</real>
					<key>unit</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>锅炉马力(BHp)</string>
					<key>weight</key>
					<real>9.81</real>
					<key>unit</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>马力(Hp)</string>
					<key>weight</key>
					<real>0.745</real>
					<key>unit</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>千瓦(kw)</string>
					<key>weight</key>
					<integer>1</integer>
					<key>unit</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热能</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>英热(Btu)</string>
					<key>weight</key>
					<real>0.252164401</real>
					<key>unit</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>百万英热(Mbtu)</string>
					<key>weight</key>
					<integer>1000000</integer>
					<key>unit</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>千卡路里(Kcal)</string>
					<key>weight</key>
					<integer>1</integer>
					<key>unit</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>压力</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>巴(bar)</string>
					<key>weight</key>
					<real>14.5037738</real>
					<key>unit</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>磅/平方英寸(psi)</string>
					<key>weight</key>
					<real>6894.75729</real>
					<key>unit</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>帕斯卡(Pa)</string>
					<key>weight</key>
					<integer>1</integer>
					<key>unit</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>千帕斯卡(kPa)</string>
					<key>weight</key>
					<integer>1000</integer>
					<key>unit</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>百万帕斯卡(Mpa)</string>
					<key>weight</key>
					<integer>1000000</integer>
					<key>unit</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>牛顿/平方厘米(N/cm³)</string>
					<key>weight</key>
					<real>0.1</real>
					<key>unit</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>重量</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>磅(lb)</string>
					<key>weight</key>
					<real>0.45359237</real>
					<key>unit</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>公斤(kg)</string>
					<key>weight</key>
					<integer>1</integer>
					<key>unit</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
